<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'имя: ' + ${user.name}" />
<p th:text="'статус: ' + ${user.natural ? 'система определила что вы педик ' : 'жопоёб'}" />
<a href="/">Назад, не тот что ты подумал</a>
</body>
</html>